Repository Fridge-Chef/FridgeChef_BE, pull requests merged in 2024-09, with the labels that each got.

#107 :sparkles: git action tag update
  .github/workflows/cicd.yml
  .github/workflows/tag.yml
Labels: tag, update

#109 :bug: jwt 수정
  src/main/java/Fridge_Chef/team/security/prod/JwtProdProvider.java
  src/main/resources/application-prod.yml
Labels: tag

#119 🪶 게시판 유저 테스트 추가
  http/user.http
  src/externalApiTest/java/Fridge_chef/team/mail/MailTest.java
  src/externalApiTest/java/Fridge_chef/team/oauth/JwtTest.java
  src/externalApiTest/java/Fridge_chef/team/oauth/KakaoLogin.java
  src/test/java/Fridge_Chef/team/board/rest/BoardControllerTest.java
  src/test/java/Fridge_Chef/team/board/service/BorderServiceTest.java
  src/test/java/Fridge_Chef/team/common/UtilTest.java
Labels: user, api

#121 :sparkles: cicd update
  .github/workflows/cicd.yml
Labels: update

#122 :sparkles: cicd update
  .github/workflows/cicd.yml
  .github/workflows/tag.yml
Labels: update

#126 🪶 ✅ 나만의 레시피(게시판 ) - 기능 및 테스트
  src/main/java/Fridge_Chef/team/board/domain/Board.java
  src/main/java/Fridge_Chef/team/board/domain/BoardUserEvent.java
  src/main/java/Fridge_Chef/team/board/repository/BoardDslRepository.java
  src/main/java/Fridge_Chef/team/board/repository/BoardUserEventRepository.java
  src/main/java/Fridge_Chef/team/board/rest/BoardController.java
  src/main/java/Fridge_Chef/team/board/rest/BoardsController.java
  src/main/java/Fridge_Chef/team/board/rest/request/BoardByRecipeUpdateRequest.java
  src/main/java/Fridge_Chef/team/board/rest/request/BoardPageRequest.java
  src/main/java/Fridge_Chef/team/board/service/BoardService.java
  src/main/java/Fridge_Chef/team/board/service/response/BoardMyRecipeResponse.java
  src/main/java/Fridge_Chef/team/config/dev/SecurityDevConfig.java
  src/main/java/Fridge_Chef/team/config/local/SecurityLocalConfig.java
  src/main/java/Fridge_Chef/team/config/prod/SecurityConfig.java
  src/main/java/Fridge_Chef/team/user/domain/User.java
  src/test/java/Fridge_Chef/team/board/rest/BoardControllerTest.java
  src/test/java/Fridge_Chef/team/board/service/BorderServiceTest.java
  src/test/java/Fridge_Chef/team/common/RestDocControllerTests.java
Labels: user, board, security, api

#128 test: ingredientService.extractIngredients() 로직 수정 & 테스트 코드 작성
  src/main/java/Fridge_Chef/team/ingredient/service/IngredientService.java
  src/test/java/Fridge_Chef/team/ingredient/service/IngredientServiceTest.java
Labels: ingredient

#129 🪶 ✅ 댓글&테스트 추가
  src/main/java/Fridge_Chef/team/board/domain/Board.java
  src/main/java/Fridge_Chef/team/comment/domain/Comment.java
  src/main/java/Fridge_Chef/team/comment/repository/CommentRepository.java
  src/main/java/Fridge_Chef/team/comment/rest/CommentController.java
  src/main/java/Fridge_Chef/team/comment/rest/request/CommentCreateRequest.java
  src/main/java/Fridge_Chef/team/comment/rest/request/CommentUpdateRequest.java
  src/main/java/Fridge_Chef/team/comment/rest/response/CommentResponse.java
  src/main/java/Fridge_Chef/team/comment/service/CommentService.java
  src/main/java/Fridge_Chef/team/exception/ErrorCode.java
  src/test/java/Fridge_Chef/team/comment/domain/CommentTest.java
  src/test/java/Fridge_Chef/team/comment/rest/CommentControllerTest.java
  src/test/java/Fridge_Chef/team/comment/service/CommentServiceTest.java
  src/test/java/fixture/BoardFixture.java
Labels: board, comment
