Repository Fridge-Chef/FridgeChef_BE, pull requests merged in 2024-10, with the labels that each got.

#144 🪶 댓글 상세 내역 수정
  src/main/java/Fridge_Chef/team/comment/domain/Comment.java
  src/main/java/Fridge_Chef/team/comment/rest/CommentController.java
  src/main/java/Fridge_Chef/team/comment/rest/response/CommentResponse.java
  src/main/java/Fridge_Chef/team/comment/service/CommentService.java
  src/test/java/Fridge_Chef/team/comment/rest/CommentControllerTest.java
  src/test/java/Fridge_Chef/team/comment/service/CommentServiceTest.java
Labels: image, refactor, comment

#146 ♻️ 나만의 게시판 수정
  src/main/java/Fridge_Chef/team/board/domain/Board.java
  src/main/java/Fridge_Chef/team/board/domain/Context.java
  src/main/java/Fridge_Chef/team/board/rest/BoardsController.java
  src/main/java/Fridge_Chef/team/board/service/BoardService.java
  src/main/java/Fridge_Chef/team/config/dev/SecurityDevConfig.java
  src/main/java/Fridge_Chef/team/config/prod/SecurityConfig.java
  src/main/java/Fridge_Chef/team/recipe/domain/Recipe.java
  src/main/java/Fridge_Chef/team/recipe/domain/RecipeDescription.java
  src/main/java/Fridge_Chef/team/recipe/service/RecipeService.java
Labels: 레시피, recipe

#148 Feature/recipe data dump
  src/main/java/Fridge_Chef/team/ingredient/service/IngredientService.java
  src/main/java/Fridge_Chef/team/recipe/domain/RecipeIngredient.java
  src/main/java/Fridge_Chef/team/recipe/dump/DumpController.java
  src/main/java/Fridge_Chef/team/recipe/dump/DumpService.java
  src/main/java/Fridge_Chef/team/recipe/rest/RecipeController.java
  src/main/java/Fridge_Chef/team/recipe/service/RecipeService.java
  src/main/resources/application.yml
  src/test/java/Fridge_Chef/team/recipe/dump/DumpServiceTest.java
Labels: 레시피, 재료, image, recipe, feat, test

#151 🪶 게시글 소개 필드 추가
  src/main/java/Fridge_Chef/team/board/domain/Board.java
  src/main/java/Fridge_Chef/team/board/repository/BoardDslRepository.java
  src/main/java/Fridge_Chef/team/board/repository/model/SortType.java
  src/main/java/Fridge_Chef/team/board/service/BoardRecipeService.java
  src/main/java/Fridge_Chef/team/recipe/domain/Recipe.java
  src/test/java/Fridge_Chef/team/common/JpaTest.java
  src/test/java/fixture/BoardFixture.java
Labels: board, recipe, test

#154 🪶 게시글 이슈 [ 이번주 레시피, 이번달 레시피 ] 추가
  src/batch/java/Fridge_chef/team/board/job/BoardJob.java
  src/main/java/Fridge_Chef/team/board/domain/Board.java
  src/main/java/Fridge_Chef/team/board/domain/BoardHistory.java
  src/main/java/Fridge_Chef/team/board/domain/BoardIssue.java
  src/main/java/Fridge_Chef/team/board/repository/BoardDslRepository.java
  src/main/java/Fridge_Chef/team/board/repository/BoardHistoryRepository.java
  src/main/java/Fridge_Chef/team/board/repository/BoardIssueRepository.java
  src/main/java/Fridge_Chef/team/board/rest/BoardController.java
  src/main/java/Fridge_Chef/team/board/rest/request/BoardByRecipeRequest.java
  src/main/java/Fridge_Chef/team/board/rest/request/BoardPageRequest.java
  src/main/java/Fridge_Chef/team/board/service/BoardService.java
  src/main/java/Fridge_Chef/team/board/service/response/BoardMyRecipeResponse.java
  src/test/java/Fridge_Chef/team/board/rest/BoardControllerTest.java
  src/test/java/Fridge_Chef/team/board/service/BorderServiceTest.java
Labels: 레시피, board

#161 Fix/recipe manual
  src/main/java/Fridge_Chef/team/recipe/domain/Recipe.java
  src/main/java/Fridge_Chef/team/recipe/dump/DumpService.java
  src/main/java/Fridge_Chef/team/recipe/service/RecipeService.java
  src/test/java/Fridge_Chef/team/recipe/dump/DumpServiceTest.java
Labels: 레시피, 재료

#164 feat : fridge 로직 & 요청 응답 수정 및 변경
  src/main/java/Fridge_Chef/team/exception/ErrorCode.java
  src/main/java/Fridge_Chef/team/fridge/rest/FridgeController.java
  src/main/java/Fridge_Chef/team/fridge/rest/request/FridgeIngredientAddRequest.java
  src/main/java/Fridge_Chef/team/fridge/rest/request/FridgeIngredientRequest.java
  src/main/java/Fridge_Chef/team/fridge/rest/request/FridgeIngredientsAddRequest.java
  src/main/java/Fridge_Chef/team/fridge/rest/response/FridgeResponse.java
  src/main/java/Fridge_Chef/team/fridge/service/FridgeService.java
  src/main/java/Fridge_Chef/team/ingredient/service/IngredientService.java
Labels: feat

#165 Feature/recipe create
  src/main/java/Fridge_Chef/team/board/domain/Board.java
  src/main/java/Fridge_Chef/team/exception/ErrorCode.java
  src/main/java/Fridge_Chef/team/fridge/domain/Fridge.java
  src/main/java/Fridge_Chef/team/fridge/domain/FridgeIngredient.java
  src/main/java/Fridge_Chef/team/ingredient/service/IngredientService.java
  src/main/java/Fridge_Chef/team/recipe/domain/Recipe.java
  src/main/java/Fridge_Chef/team/recipe/domain/RecipeIngredient.java
  src/main/java/Fridge_Chef/team/recipe/dump/DumpService.java
  src/main/java/Fridge_Chef/team/recipe/repository/RecipeRepository.java
  src/main/java/Fridge_Chef/team/recipe/rest/RecipeController.java
  src/main/java/Fridge_Chef/team/recipe/rest/request/RecipeCreateRequest.java
  src/main/java/Fridge_Chef/team/recipe/rest/response/RecipeDetailsResponse.java
  src/main/java/Fridge_Chef/team/recipe/rest/response/RecipeResponse.java
  src/main/java/Fridge_Chef/team/recipe/service/RecipeService.java
Labels: 레시피, feat, api

#168 feature : 레시피 조회 api
  src/main/java/Fridge_Chef/team/exception/ErrorCode.java
  src/main/java/Fridge_Chef/team/recipe/dump/DumpService.java
  src/main/java/Fridge_Chef/team/recipe/repository/RecipeDslRepository.java
  src/main/java/Fridge_Chef/team/recipe/rest/RecipeController.java
  src/main/java/Fridge_Chef/team/recipe/rest/response/RecipeSearchResponse.java
  src/main/java/Fridge_Chef/team/recipe/rest/response/RecipeSearchResult.java
  src/main/java/Fridge_Chef/team/recipe/service/RecipeService.java
Labels: 레시피, feat, api

#170 :recycle: update config
  src/main/java/Fridge_Chef/team/board/service/BoardService.java
  src/main/java/Fridge_Chef/team/config/dev/SecurityDevConfig.java
  src/main/java/Fridge_Chef/team/config/prod/SecurityConfig.java
Labels: config

#172 Feature/add recipe fields
  src/main/java/Fridge_Chef/team/exception/ErrorCode.java
  src/main/java/Fridge_Chef/team/fridge/domain/FridgeIngredient.java
  src/main/java/Fridge_Chef/team/fridge/rest/request/FridgeIngredientRequest.java
  src/main/java/Fridge_Chef/team/fridge/rest/response/FridgeIngredientResponse.java
  src/main/java/Fridge_Chef/team/fridge/service/FridgeService.java
  src/main/java/Fridge_Chef/team/ingredient/domain/IngredientCategory.java
  src/main/java/Fridge_Chef/team/ingredient/service/IngredientService.java
  src/main/java/Fridge_Chef/team/recipe/domain/Difficult.java
  src/main/java/Fridge_Chef/team/recipe/domain/Recipe.java
  src/main/java/Fridge_Chef/team/recipe/rest/request/RecipeCreateRequest.java
  src/main/java/Fridge_Chef/team/recipe/service/RecipeService.java
Labels: 레시피, 재료, feat

#173 fix : basic recipes 생성 수정
  .gitignore
  src/main/java/Fridge_Chef/team/exception/ErrorCode.java
  src/main/java/Fridge_Chef/team/recipe/domain/Difficult.java
  src/main/java/Fridge_Chef/team/recipe/domain/Recipe.java
  src/main/java/Fridge_Chef/team/recipe/dump/BasicRecipesInitializer.java
  src/main/java/Fridge_Chef/team/recipe/dump/DumpController.java
  src/main/resources/basic_recipes.csv
Labels: 재료, recipe

#178 :sparkles: rest doc Form-data 환경 구축 완료
  build.gradle
  fix-openapi-form-yaml.py
  fix-openapi-reload.py
  fix-openapi-required-yaml.py
  fix-openapi-yaml.py
  src/test/java/Fridge_Chef/team/board/rest/BoardControllerTest.java
Labels: api

#179 feat : 냉장고 기본 재료 등록
  src/main/java/Fridge_Chef/team/fridge/rest/FridgeController.java
  src/main/java/Fridge_Chef/team/fridge/rest/request/FridgeCreateRequest.java
  src/main/java/Fridge_Chef/team/fridge/service/FridgeService.java
Labels: 재료, feat, 냉장고

#184 feat : 레시피 조회 최신순 정렬
  src/main/java/Fridge_Chef/team/recipe/repository/RecipeDslRepository.java
  src/main/java/Fridge_Chef/team/recipe/repository/model/RecipeSearchSortType.java
  src/main/java/Fridge_Chef/team/recipe/rest/RecipeController.java
  src/main/java/Fridge_Chef/team/recipe/rest/request/RecipePageRequest.java
  src/main/java/Fridge_Chef/team/recipe/service/RecipeService.java
Labels: 레시피, feat

#186 fix : 레시피 조회 수정 & 조회 응답 board id 추가
  src/main/java/Fridge_Chef/team/board/repository/BoardRepository.java
  src/main/java/Fridge_Chef/team/recipe/dump/BasicRecipesInitializer.java
  src/main/java/Fridge_Chef/team/recipe/repository/RecipeDslRepository.java
  src/main/java/Fridge_Chef/team/recipe/rest/response/RecipeSearchResponse.java
Labels: 레시피, board

#187 Fix/recipe search
  src/main/java/Fridge_Chef/team/board/repository/BoardRepository.java
  src/main/java/Fridge_Chef/team/recipe/dump/BasicRecipesInitializer.java
  src/main/java/Fridge_Chef/team/recipe/repository/RecipeDslRepository.java
  src/main/java/Fridge_Chef/team/recipe/rest/RecipeController.java
Labels: 레시피, api

#189 ♻️ 페이징 시 Page<> 사용해서 리턴
  src/main/java/Fridge_Chef/team/comment/rest/CommentsController.java
  src/main/java/Fridge_Chef/team/comment/service/CommentService.java
  src/main/java/Fridge_Chef/team/config/prod/SecurityConfig.java
  src/main/java/Fridge_Chef/team/recipe/dump/BasicRecipesInitializer.java
  src/test/java/Fridge_Chef/team/comment/rest/CommentsControllerTest.java
  src/test/java/Fridge_Chef/team/comment/service/CommentServiceTest.java
Labels: security, api

#191 Feature/ingredient search
  src/main/java/Fridge_Chef/team/ingredient/repository/IngredientRepository.java
  src/main/java/Fridge_Chef/team/ingredient/rest/IngredientController.java
  src/main/java/Fridge_Chef/team/ingredient/rest/response/IngredientSearchResponse.java
  src/main/java/Fridge_Chef/team/ingredient/service/IngredientService.java
  src/main/java/Fridge_Chef/team/recipe/repository/RecipeDslRepository.java
Labels: user, ingredient, feat, 검색

#192 Feature/fridge create
  src/main/java/Fridge_Chef/team/fridge/domain/FridgeIngredient.java
  src/main/java/Fridge_Chef/team/fridge/repository/FridgeIngredientRepository.java
  src/main/java/Fridge_Chef/team/fridge/rest/FridgeController.java
  src/main/java/Fridge_Chef/team/fridge/rest/request/FridgeCreateRequest.java
  src/main/java/Fridge_Chef/team/fridge/service/FridgeService.java
  src/main/java/Fridge_Chef/team/ingredient/service/IngredientService.java
  src/main/java/Fridge_Chef/team/recipe/repository/RecipeDslRepository.java
  src/main/java/Fridge_Chef/team/recipe/rest/RecipeController.java
  src/main/java/Fridge_Chef/team/recipe/service/RecipeService.java
Labels: recipe

#194 fix : recipe create fix
  src/main/java/Fridge_Chef/team/recipe/dump/BasicRecipesInitializer.java
  src/main/java/Fridge_Chef/team/recipe/rest/RecipeController.java
  src/main/java/Fridge_Chef/team/recipe/rest/request/RecipeCreateRequest.java
  src/main/java/Fridge_Chef/team/recipe/service/RecipeIngredientService.java
  src/main/java/Fridge_Chef/team/recipe/service/RecipeService.java
Labels: recipe
